<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.full_name %></h1>
    <p>
      Your account has been deleted in Rotten Mangoes example.com
    </p>
  </body>
</html>